# ============================================================================
# file: .env.example
# description: Configuration template for Fluent-bit on Wazuh Server (Server A).
#              Rename this file to '.env' and fill in remote Ingest details.
# ============================================================================

# IP address or domain name of the remote Database Server (Server B)
INGEST_HOST=127.0.0.1
INGEST_PORT=8080

# Token private
INGEST_TOKEN=<TOKEN>
