# ============================================================================
# file: .env
# description: Environment variables for configuring the PostgreSQL database service.
# ============================================================================

# ====== Database Configuration ======
# Version of the TimescaleDB Docker image to use.
VERSION=latest-pg15

# ====== PostgreSQL Credentials ======
# Username for the PostgreSQL database.
POSTGRES_USER=postgres
# Password for the PostgreSQL database user.
POSTGRES_PASSWORD=postgres
# Name of the default database to be created when the PostgreSQL container is initialized.
POSTGRES_DB=lsmp_db
